[submodule "_root"]
	path = _root
	url = ../root-admiralfeb-dev.git
[submodule "api"]
	path = api
	url = ../api-admiralfeb-dev.git
[submodule "bwasm"]
	path = bwasm
	url = ../bwasm-admiralfeb-dev.git
[submodule "cra"]
	path = cra
	url = ../cra-admiralfeb-dev.git
[submodule "nextjs"]
	path = nextjs
	url = ../nextjs-admiralfeb-dev.git
[submodule "ng"]
	path = ng
	url = ../ng-admiralfeb-dev.git
[submodule "rust"]
	path = rust
	url = ../rust-admiralfeb-dev.git
[submodule "vue"]
	path = vue
	url = ../vue-admiralfeb-dev.git
